table {
    border-collapse: collapse;
    width: fit-content;
}
table, th, td {
border: 1px solid black;
}

tr {
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
    font-weight: bold;
}

input{
    width: 100%;
}